body {
font-family: "Roboto", sans-serif;
color: #434455;
background-color: #FFF;
line-height: 24px;
}

h1, h2, h3, h4, h5, h6 p {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
}

ul {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.conteiner {
    display: flex;
    max-width: 1158 px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    margin-right: 0;
    margin-left: 0;
    padding: 0 15px;
}

.section {
    padding: 120px 0;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header .conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation li a {
    color: #2e2f42;
}

.nav-item {
    display: flex;
    gap: 40px;
}

.nav-itema a {
    padding: 24px 0;
}

.section-promo {
    background-color: #2E2F42;
    }
.section-our {
    background-color: #F4F4FD;
}

.section-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.logo-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo {
    margin-right: 76px;
}

.logo-span {
    color: #2E2F42;
    letter-spacing: 0.02em; 
}

.navi {
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.32px;
}

.navi:hover, .navi:focus {
    color: #404bbf;
}
a:hover, button:hover, a:focus, button:focus {
    color: #404bbf;
}

address {
    font-style: normal;
}

.mail {
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-itema {
    padding: 24px 0;
    letter-spacing: 0.02em;
}

.section-promo {
    padding: 188px 0;
}

.promo-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
    color: #ffffff;
}

.btn {
    background-color: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    cursor: pointer;
}

.btn:hover {
    background-color: #404bbf;
}

.btn:focus {
    background-color: #404bbf;
}

.itum-titul {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.item-text {
    letter-spacing: 0.02em;
}


.section-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.itum-team {
    background-color: #fff;
}
/* FOOTER */
footer {
    background-color: #2e2f42;
    color: #f4f4fd;
}
.footer-logo-span {
    color: #f4f4fd;
}
